* {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 250%;
    font-weight: 300;
    text-align: center;
    margin: 20px;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    background-image: url('../image/foodimage.jpg')
}

header h1 {
    font-size: 300%;
    color:rgb(255, 255, 255);
    font-weight: 500;
}

main {
    min-height: 60vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 50vh;
}

#add-recipe {
    min-height: 10vh;
    max-width: 30vh;
    border-radius: 10px;
    background-color: rgb(57, 95, 95);
    box-shadow: rgb(57, 95, 95) 0 0 3px 3px;
    color:white;
    font-weight: 400;
    font-size: 200%;
    margin-top: 5px;
}


footer {
    text-align: center;
    font-size: 150%;
    font-weight: 300;
    margin-top: 5vh;
}

article {
border: 12px solid #261E17;
border-radius: 6% 6% 0px 0px;
padding: 0.5rem;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5rem;
/* background-color:; TBD */
/* color:white; */
}

#img-div {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    align-content: center;
    border-width: 5px;
}
#headimg {
max-width: 100%;
max-height: 100%;
border-radius: 2%;
}

body {
    /* background-color:TBD ; */
}